{% extends "layout-key-details.html" %}

{% block pageTitle %}
  Claimant documents
{% endblock %}


{% block beforeContent %}
<a href="claimant-details.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Claimant documents</h2>

      <p class="govuk-body-s" id="last-updated">Last updated from DRS at 02:08 on 16 Sep 2021</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-form-group">
        <form action="confirmation-one-button" method="post" novalidate>
        
        <label class="govuk-label" for="sort">
          Filter by claim
        </label>

        <select class="govuk-select" id="sort" name="sort">
          <option value="all">All documents</option>
          <option value="pip-200921" selected>PIP claim 20 Sep 2021</option>
          <option value="uc-150621">UC claim 15 June 2021</option>
        </select>

        <button class="govuk-button" data-module="govuk-button">
          Apply
        </button>

        </form>
      </div>
      
      <table class="govuk-table" data-module="moj-sortable-table" aria-describedby="last-updated">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
      
            <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">Document type</th>

            <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">Document label</th>
      
            <th scope="col" class="govuk-table__header column-width-10" aria-sort="none">Benefit type</th>

            <th scope="col" class="govuk-table__header column-width-15" aria-sort="none">Date of document</th>

            <th scope="col" class="govuk-table__header column-width-15" aria-sort="descending">Date DWP received</th>            

            <th scope="col" class="govuk-table__header column-width-20" aria-sort="none">Latest document activity</th>
      
          </tr>
        </thead>
      
        <tbody class="govuk-table__body">
      
          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">GP letter</a></td>

            <td class="govuk-table__cell"></td>
      
            <td class="govuk-table__cell">UC</td>

            <td class="govuk-table__cell" data-sort-value="21/04/21">28 Feb 2021</td>

            <td class="govuk-table__cell" data-sort-value="12/05/21">10 May 2021</td>

            <td class="govuk-table__cell">Added to <a href="referral-information-with-docs.html" class="govuk-link">PIP claim 20 Sep 2021</a> and 1 other claim(s)</td>
 
          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">NHS hospital report</a></td>

            <td class="govuk-table__cell"></td>
    
            <td class="govuk-table__cell">UC</td>
  
            <td class="govuk-table__cell" data-sort-value="21/04/21">15 Mar 2021</td>

            <td class="govuk-table__cell" data-sort-value="12/05/21">10 May 2021</td>

            <td class="govuk-table__cell">Added to <a href="referral-information-with-docs.html" class="govuk-link">PIP claim 20 Sep 2021</a></td>

          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">GP letter</a></td>

            <td class="govuk-table__cell"></td>
      
            <td class="govuk-table__cell">UC</td>

            <td class="govuk-table__cell" data-sort-value="21/04/21">28 Feb 2021</td>

            <td class="govuk-table__cell" data-sort-value="12/05/21">10 May 2021</td>

            <td class="govuk-table__cell">Added to <a href="referral-information-with-docs.html" class="govuk-link">PIP claim 20 Sep 2021</a> and 1 other claim(s)</td>
 
          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">NHS hospital report</a></td>

            <td class="govuk-table__cell"></td>
    
            <td class="govuk-table__cell">UC</td>
  
            <td class="govuk-table__cell" data-sort-value="21/04/21">15 Mar 2021</td>

            <td class="govuk-table__cell" data-sort-value="12/05/21">10 May 2021</td>

            <td class="govuk-table__cell">Added to <a href="referral-information-with-docs.html" class="govuk-link">PIP claim 20 Sep 2021</a></td>

          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">GP letter</a></td>

            <td class="govuk-table__cell"></td>
      
            <td class="govuk-table__cell">UC</td>

            <td class="govuk-table__cell" data-sort-value="21/04/21">28 Feb 2021</td>

            <td class="govuk-table__cell" data-sort-value="12/05/21">10 May 2021</td>

            <td class="govuk-table__cell">Added to <a href="referral-information-with-docs.html" class="govuk-link">PIP claim 20 Sep 2021</a> and 1 other claim(s)</td>
 
          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">NHS hospital report</a></td>

            <td class="govuk-table__cell"></td>
    
            <td class="govuk-table__cell">UC</td>
  
            <td class="govuk-table__cell" data-sort-value="21/04/21">15 Mar 2021</td>

            <td class="govuk-table__cell" data-sort-value="12/05/21">10 May 2021</td>

            <td class="govuk-table__cell">Added to <a href="referral-information-with-docs.html" class="govuk-link">PIP claim 20 Sep 2021</a></td>

          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">GP letter</a></td>

            <td class="govuk-table__cell"></td>
      
            <td class="govuk-table__cell">UC</td>

            <td class="govuk-table__cell" data-sort-value="21/04/21">28 Feb 2021</td>

            <td class="govuk-table__cell" data-sort-value="12/05/21">10 May 2021</td>

            <td class="govuk-table__cell">Added to <a href="referral-information-with-docs.html" class="govuk-link">PIP claim 20 Sep 2021</a> and 1 other claim(s)</td>
 
          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">NHS hospital report</a></td>

            <td class="govuk-table__cell"></td>
    
            <td class="govuk-table__cell">UC</td>
  
            <td class="govuk-table__cell" data-sort-value="21/04/21">15 Mar 2021</td>

            <td class="govuk-table__cell" data-sort-value="12/05/21">10 May 2021</td>

            <td class="govuk-table__cell">Added to <a href="referral-information-with-docs.html" class="govuk-link">PIP claim 20 Sep 2021</a></td>

          </tr>

        </tbody>
      </table>

    </div>
  </div>  


{% endblock %}
