{% extends "layout-key-details.html" %}

{% block pageTitle %}
  Document review
{% endblock %}

{% block beforeContent %}
<a href="document-list-new1.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Document review</h1>

      <strong class="govuk-tag govuk-tag--yellow">
        New document
      </strong>
      <span class="govuk-body-s">This is a new document and needs to be reviewed.</span>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">
      <iframe class="document" src="/public/pdfs/hospital-appointment-letter.pdf" title="PIP2 document"></iframe>
    </div>
  </div>  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <dl class="govuk-summary-list govuk-summary-list--no-border">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Document type
                </dt>
                <dd class="govuk-summary-list__value">
                  Further evidence
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date DWP received
                </dt>
                <dd class="govuk-summary-list__value">
                  10 Jan 2022
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Benefit type
                </dt>
                <dd class="govuk-summary-list__value">
                  PIP
                </dd>
              </div>
            </dl>

            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      Add a document label
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                  <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-2">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Document label
                      </dt>
                      <dd class="govuk-summary-list__value">
                        NHS hospital appointment
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a href="further-evidence-single-label-removed.html" class="govuk-link">Remove</a>
                      </dd>
                    </div>
                  </dl>
      
                </div>
              </div>

              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      Add a date of document
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                  <div class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-bottom-6" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        You removed the date of document
                      </h2>
                    </div>
                  </div>
                  
                  
                  <form class="form" action="further-evidence-single-date" method="post">

                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="date-created-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                          <h1 class="govuk-fieldset__heading">
                            Date of document
                          </h1>
                        </legend>
                        <div id="passport-issued-hint" class="govuk-hint">
                          This could be the date printed on a letter, or the date of an appointment
                        </div>
                        <div class="govuk-date-input" id="document-created-date">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="date-created-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-created-day" name="date-created-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="date-created-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-created-month" name="date-created-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="date-created-year">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-created-year" name="date-created-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                          </div>
                        </div>
                    
                      </fieldset>
                    </div>
            
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Add date of document</button>
            
                  </form>

                </div>
              </div>

              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                      Comment on this document
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                  <div class="govuk-form-group">
          
                    <div id="add-comments-hint" class="govuk-hint">
                      Add a comment if it helps to describe the contents of the document.
                    </div>
                    <textarea class="govuk-textarea" id="add-comments" name="add-comments" rows="5" aria-describedby="add-comments-hint"></textarea>

                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Add comment
                    </button>
                  
                  </div> 
                </div>
              </div>
              
            </div>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="doc-review-grey">

      <form action="confirmation-2" method="post" novalidate>

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Add this document to a claim
            </h2>
          </legend>
        
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="pip" name="claim" type="checkbox" value="PIP">
              <label class="govuk-label govuk-checkboxes__label" for="pip">
                <strong>PIP claim</strong> 12 Sep 2021
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="uc" name="claim" type="checkbox" value="UC">
              <label class="govuk-label govuk-checkboxes__label" for="uc">
                <strong>UC claim</strong> 23 Jun 2021
              </label>
            </div>
          </div>

        </fieldset>

      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-form-group govuk-!-margin-bottom-3">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Has this document been reviewed?
          </h2>
        </legend>

        <div class="govuk-hint">
          Tick this to confirm this document has been looked at.
        </div>
      
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="reviewed" name="reviewed" value="reviewed" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="reviewed">
              This document has been reviewed
            </label>
          </div>
        </div>
  
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Save changes
          </button>
      
          <a class="govuk-link" href="document-list-new1.html">Cancel</a>
        </div>

      </form>

      </div>

    </div>
   </div>
    

</div>  


{% endblock %}
