{% extends "layout-key-details.html" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block beforeContent %}
<a href="pip2-new.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">PIP2 questionnaire</h1>
        <div class="govuk-panel__body">
          You reviewed this document on 15 October 2021.<br>You added this document to <a href="referral-information-1doc.html">PIP claim 12 Sep 2021</a>.
        </div>
      </div>
    </div>
  </div>    

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Choose your next step</h2>
      <p><a href="claimant-documents-label3.html">View all documents for this claimant</a></p>
      <p><a href="claimant-details.html">Return to the claimant details page</a></p>

    </div>
  </div>

{% endblock %}
