{% extends "layout-key-details.html" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block beforeContent %}
<a href="further-evidence-one-button.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">Your changes have been saved</h1>
        <div class="govuk-panel__body" style="text-align: left;">
          <ul class="govuk-list govuk-list--spaced govuk-list--bullet" style="color: white;">
            <li>You added a document label: <strong>Hospital appointment</strong></li>
            <li>You added a date of document: <strong>19 March 2021</strong></li>
            <li>You commented on this document</li>
            <li>You added this document to <a href="claimant-details.html">PIP claim 12 Sep 2021</a></li>
            <li>You reviewed this document</li>
          </ul>
        </div>
      </div>
    </div>
  </div>    

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Choose your next step</h2>
      <p><a href="claimant-documents-buttons-reviewed.html">View all documents for this claimant</a></p>
      <p><a href="referral-information-with-docs.html">Return to the claimant details page</a></p>

    </div>
  </div>

{% endblock %}
