{% extends "layout-key-details.html" %}

{% block pageTitle %}
  Document review
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="referral-information.html">Claimant details</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="document-list-new1.html">Claimant documents</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Document review</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Document review</h1>

      <strong class="govuk-tag govuk-tag--blue">
        Reviewed
      </strong>
      <span class="govuk-body-s">This document was reviewed on 15 Oct 2021.</span>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">
      <iframe class="document" src="/public/pdfs/JaneDoe_FurtherEvidence_120921.pdf"></iframe>
    </div>
  </div>  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
            <h2 class="app-step-nav__title govuk-body govuk-!-margin-bottom-2">
                Document details
            </h2>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Document type
                </dt>
                <dd class="govuk-summary-list__value">
                  Further evidence
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date DWP received
                </dt>
                <dd class="govuk-summary-list__value">
                  21 April 2021
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Benefit received for
                </dt>
                <dd class="govuk-summary-list__value">
                  PIP
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Harmful information
                </dt>
                <dd class="govuk-summary-list__value">
                  Not harmful
                </dd>
              </div>
            </dl>

    </div>

  </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <div class="govuk-form-group">
          
              <h2 class="govuk-heading-m">
                Has this document been reviewed?
              </h2>

              <div class="govuk-hint">
                Leaving this unchecked marks this as a new document.
              </div>
          
        
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" type="checkbox" checked>
                <label class="govuk-label govuk-checkboxes__label">
                  This document has been reviewed
                </label>
              </div>
            </div>
    
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">
          Add this document to a claim
        </h2>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="PIP" name="claim" type="checkbox" value="PIP">
                <label class="govuk-label govuk-checkboxes__label" for="PIP">
                  <strong>PIP claim</strong> 12 Sep 2021
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="UC" name="claim" type="checkbox" value="UC">
                <label class="govuk-label govuk-checkboxes__label" for="UC">
                  <strong>UC claim</strong> 23 Jun 2021
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <a href="confirmation.html" aria-describedby="confirmation">
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </a>  

      </div>
     </div>
    

</div>  


{% endblock %}
