{% extends "layout-key-details.html" %}

{% block pageTitle %}
  Document review
{% endblock %}

{% block beforeContent %}
<a href="document-list-new1.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Document review</h1>

      <strong class="govuk-tag govuk-tag--yellow">
        New document
      </strong>
      <span class="govuk-body-s">This is a new document and needs to be reviewed.</span>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">
      <iframe class="document" src="/public/pdfs/JaneDoe_FurtherEvidence_120921.pdf"></iframe>
    </div>
  </div>  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
            <h2 class="app-step-nav__title govuk-body govuk-!-margin-bottom-2">
                Document details
            </h2>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Document type
                </dt>
                <dd class="govuk-summary-list__value">
                  Further evidence
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date DWP received
                </dt>
                <dd class="govuk-summary-list__value">
                  21 April 2021
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Benefit received for
                </dt>
                <dd class="govuk-summary-list__value">
                  PIP
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Harmful information
                </dt>
                <dd class="govuk-summary-list__value">
                  Not harmful
                </dd>
              </div>
            </dl>

    </div>

  </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <div class="govuk-form-group">
          
              <h2 class="govuk-heading-m">
                Has this document been reviewed?
              </h2>

              <div class="govuk-hint">
                Leaving this unchecked marks this as a new document.
              </div>
          
        
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-checkboxes__label" for="contact">
                    This document has been reviewed
                  </label>
                </div>

                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
                  <h3 class="govuk-heading-s">
                    Do you want to add this document to a claim?
                  </h3>
                  <div class="govuk-form-group">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="PIP" name="claim" type="checkbox" value="PIP">
                      <label class="govuk-label govuk-checkboxes__label" for="PIP">
                        <strong>PIP claim</strong> 12 Sep 2021
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="UC" name="claim" type="checkbox" value="UC">
                      <label class="govuk-label govuk-checkboxes__label" for="UC">
                        <strong>UC claim</strong> 23 Jun 2021
                      </label>
                    </div>
                  </div>
                                
                </div>
          
                </div>
    
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <a href="confirmation.html" aria-describedby="confirmation">
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </a>  

      </div>
     </div>
    

</div>  


{% endblock %}
