{% extends "layout-key-details.html" %}

{% block pageTitle %}
  Claimant details
{% endblock %}


{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      
      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Preferred name
          </dt>
          <dd class="govuk-summary-list__value">
            None
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            07799 000000
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            SRTI
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Referral details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referral date
          </dt>
          <dd class="govuk-summary-list__value">
            2 February 2021
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Referral type
          </dt>
          <dd class="govuk-summary-list__value">
            New referral
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefit type
          </dt>
          <dd class="govuk-summary-list__value">
            PIP
          </dd>
        </div>
      </dl>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Referral actions
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="update-status" aria-describedby="update-status">
                <button class="govuk-button" data-module="govuk-button">
                  Update status
                </button>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Claimant documents</h2>
      <p>The following documents have been reviewed and added to this claim.</p>
      
      <table class="govuk-table" data-module="moj-sortable-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
      
            <th scope="col" class="govuk-table__header" aria-sort="ascending">Document type</th>
      
            <th scope="col" class="govuk-table__header" aria-sort="descending">Date DWP received</th>

            <th scope="col" class="govuk-table__header" aria-sort="descending">Date of document</th>
      
          </tr>
        </thead>
      
        <tbody class="govuk-table__body">
      
          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">PIP2 questionnaire</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">17 Aug 2021</td>
      
            <td class="govuk-table__cell"></td>
   
          </tr>
      
        </tbody>
      </table>

      <p><a href="document-list-new2.html">View all documents for this claimant</a></p>
    </div>
  </div>  


{% endblock %}
