
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Supporting Documents Service
        
      </h1>
      <p>The following prototypes have been created to demonstrate designs for a service that enables claimant documents to be shared through the health assessment process.</p>
      <p>Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>view documents stored in the Document Repository Service</li>
        <li>edit document details</li>
        <li>comment on documents</li>
        <li>add documents to claims/referrals</li>
        <li>link documents to assessment activities</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Full MVP</h2>
      <p>This prototype demonstrates functionality planned for the full MVP release. This will include the following functionality:
        <ul class="govuk-list govuk-list--bullet">
          <li>view list of claimant documents</li>
          <li>view individual documents</li>
          <li>view document metadata</li>
          <li>edit document type</li>
          <li>add a document created date</li>
          <li>add comments to documents</li>
          <li>add documents to claims</li>
        </ul>
        <p><a href="/mvp-version/referral-information.html" class="govuk-link">Version 1</a></p>
        <p><a href="/v2/full-mvp/referral-information.html" class="govuk-link">Version 2</a></p>
        <p><a href="/v3/single-page-mvp/referral-information.html">LATEST VERSION: Version 3 - Single page review</a></p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Read only</h2>
      <p>Functionality includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>view list of claimant documents</li>
        <li>view individual documents</li>
        <li>view document metadata</li>
        <li>download documents</li>
      </ul>

      <p><a href="/read-only-breadcrumbs/referral-information.html" class="govuk-link">Version 1</a></p>
      <p><a href="/v2/read-only/referral-information.html" class="govuk-link">Version 2</a></p>
      <p><a href="/v3/read-only/referral-information.html" class="govuk-link">Version 3</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Add to claim</h2>
      <p>Functionality includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>view list of claimant documents</li>
        <li>view individual documents</li>
        <li>view document metadata</li>
        <li>add documents to claims</li>
      </ul>

      <p><a href="/add-to-claim/referral-information.html" class="govuk-link">Version 1</a></p>
      <p><a href="/v2/add-to-claim/referral-information.html" class="govuk-link">Version 2</a></p>


    </div>
  </div>

{% endblock %}
