{% extends "layout-key-details.html" %}

{% block pageTitle %}
  Document review
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Document review</h1>
      <div class="govuk-phase-banner govuk-!-margin-bottom-4">
        <p class="govuk-phase-banner__content govuk-!-margin-bottom-2">
          <strong class="govuk-tag govuk-tag--yellow">
            New document
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new document and needs to be reviewed.
          </span>
        </p>

        <details class="govuk-details govuk-!-margin-bottom-1" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              View document edit history
            </span>
          </summary>
          <div class="moj-timeline govuk-!-margin-top-4">

            <div class="moj-timeline__item">
          
              <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Document created date changed</h2>
          
                <p class="moj-timeline__byline">by Case Manager 1</p>
          
              </div>
          
              <p class="moj-timeline__date">
                <time datetime="2019-06-14T14:01:00.000Z">5 May 2021 at 2:23pm</time>
              </p>
          
              <div class="moj-timeline__description">
                <p>To <strong>21 November 2020</strong></p>
              </div>
          
            </div>

            <div class="moj-timeline__item">
          
              <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Document type changed</h2>
          
                <p class="moj-timeline__byline">by Case Manager 1</p>
          
              </div>
          
              <p class="moj-timeline__date">
                <time datetime="2019-06-14T14:01:00.000Z">5 May 2021 at 2:01pm</time>
              </p>
          
              <div class="moj-timeline__description">
                <p>From <strong>Further evidence</strong> to <strong>Physiotherapist letter</strong></p>
              </div>
          
            </div>

          </div>
        </details>
        
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <iframe class="document" src="/public/pdfs/PhysiotherapyRecommendations.pdf"></iframe>
    </div>
  </div>  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <ol class="app-step-nav__steps govuk-body govuk-!-margin-bottom-7">
        <li class="app-step-nav__step" id="check-document-details">
          <div class="app-step-nav__header" data-position="1">
            <h2 class="app-step-nav__title govuk-body govuk-!-margin-bottom-2">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1
                  </span>
                </span>
              </span>
                Check document details
            </h2>

            <div class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-bottom-2" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                  Success
                </h2>
              </div>
              <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                  You changed the document created date
                </h3>
              </div>
            </div>

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Document type
                </dt>
                <dd class="govuk-summary-list__value">
                  Physiotherapist letter
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="document-type.html">
                    Change<span class="govuk-visually-hidden"> document type</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date received
                </dt>
                <dd class="govuk-summary-list__value">
                  21 April 2021
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Document created 
                </dt>
                <dd class="govuk-summary-list__value">
                  21 November 2020
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="date-created.html">
                    Change<span class="govuk-visually-hidden"> date created</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Benefit type
                </dt>
                <dd class="govuk-summary-list__value">
                  PIP
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Harmful information
                </dt>
                <dd class="govuk-summary-list__value">
                  Not harmful
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="harmful-info.html">
                    Change<span class="govuk-visually-hidden"> harmful information flag</span>
                  </a>
                </dd>
              </div>
            </dl>
          </div>
        </li>

        <li class="app-step-nav__step" id="comment-on-this-document">
          <div class="app-step-nav__header" data-position="2">
            <h2 class="app-step-nav__title govuk-body govuk-!-margin-bottom-2">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 2
                  </span>
                </span>
              </span>
                Comment on this document
            </h2>

            <div class="govuk-form-group">
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>
          
          </div>
        </li>

        <li class="app-step-nav__step" id="add-this-document-to-a-claim">
          <div class="app-step-nav__header" data-position="3">
            <h2 class="app-step-nav__title govuk-body govuk-!-margin-bottom-2">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 3
                  </span>
                </span>
              </span>
                Add this document to a claim
              </span>
            </h2>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="PIP" name="claim" type="checkbox" value="PIP">
                    <label class="govuk-label govuk-checkboxes__label" for="PIP">
                      <strong>PIP claim</strong> 12 April 2021
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="UC" name="claim" type="checkbox" value="UC">
                    <label class="govuk-label govuk-checkboxes__label" for="UC">
                      <strong>UC claim</strong> 30 April 2021
                    </label>
                  </div>
                </div>
            
              </fieldset>
            </div>

          </div>
        </li>

        <li class="app-step-nav__step" id="link-this-document-to-assessment-activities">
          <div class="app-step-nav__header" data-position="4">
            <h2 class="app-step-nav__title govuk-body govuk-!-margin-bottom-2">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 4
                  </span>
                </span>
              </span>
                Link this document to assessment activities
              </span>
            </h2>

            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      PIP claim 12 April 2021
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  <p class='govuk-body'>Assessment activites will appear here once the document has been added to a claim.</p>
                </div>
              </div>

              <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      UC claim 30 April 2021
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  <p class='govuk-body'>Assessment activites will appear here once the document has been added to a claim.</p>
                </div>
              </div>
              
            </div>

          </div>
        </li>

        <li class="app-step-nav__step" id="set-document-status">
          <div class="app-step-nav__header" data-position="5">
            <h2 class="app-step-nav__title govuk-body govuk-!-margin-bottom-2">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 5
                  </span>
                </span>
              </span>
                Set the status of this document
              </span>
            </h2>

            <div class="govuk-form-group">
              <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
                <option value="new" selected>New document</option>
                <option value="not-added">Not added to claim</option>
                <option value="added">Added to claim</option>
                <option value="prepared">Linked to assessment</option>
              </select>
            </div>

          </div>
        </li>

      </ol>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="confirmation.html" aria-describedby="confirmation">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </a>  
    </div>
  </div>
</div>  


{% endblock %}
