{% extends "layout-key-details.html" %}

{% block pageTitle %}
  Claimant documents
{% endblock %}


{% block beforeContent %}
<a href="index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <h1 class="govuk-heading-l">Claimant documents</h1>

    <p class="govuk-body">You are currently subscribed to the following document notifications:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>New documents</li>
    </ul>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Edit notification settings
        </span>
      </summary>
      <div class="govuk-details__text">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="notification-type">
            <legend class="govuk-fieldset__legend">
              Select which notifications you want to receive
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="organisation">
                  New documents
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                  Employment Tribunal
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                  Ministry of Defence
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                  Department for Transport
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>
      </div>
    </details>
      
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <p class="govuk-body-s">Last updated at 02:08 on 11 Aug 2021</p>

      <table class="govuk-table" data-module="moj-sortable-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
      
            <th scope="col" class="govuk-table__header column-width-30" aria-sort="none">Document type</th>
      
            <th scope="col" class="govuk-table__header column-width-15" aria-sort="descending">Date DWP received</th>

            <th scope="col" class="govuk-table__header column-width-15" aria-sort="none">Date of document</th>

            <th scope="col" class="govuk-table__header column-width-15" aria-sort="none">Benefit received for</th>

            <th scope="col" class="govuk-table__header column-width-25" aria-sort="none">Document activity</th>
      
          </tr>
        </thead>
      
        <tbody class="govuk-table__body">
      
          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="physiotherapist-letter-new.html">Further evidence</a></td>
      
            <td class="govuk-table__cell" data-sort-value="12/05/21">12 May 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">PIP</td>

            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">New document</strong></td>
      
          </tr>
      
          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">GP letter</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">21 April 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">PIP</td>

            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">New document</strong></td>
   
          </tr>
      
          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">NHS hospital report</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">21 April 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">PIP</td>

            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">New document</strong></td>
    
          </tr>
      
          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">GP letter</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">21 April 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">PIP</td>

            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">New document</strong></td>
 
          </tr>
      
          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">Medical prescription</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">21 April 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">PIP</td>

            <td class="govuk-table__cell">Reviewed on 5 May 2021</strong></td>
    
          </tr>
      
          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">Mental health report</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">21 April 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">PIP</td>

            <td class="govuk-table__cell">Reviewed on 5 May 2021</strong></td>
   
          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">Consultant letter</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">21 April 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">PIP</td>

            <td class="govuk-table__cell">Reviewed on 5 May 2021</strong></td>
   
          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">Consultant letter</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">21 April 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">PIP</td>

            <td class="govuk-table__cell">Reviewed on 5 May 2021</strong></td>
   
          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">PIP2 questionnaire</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">21 April 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">PIP</td>

            <td class="govuk-table__cell">Reviewed on 5 May 2021</strong></td>
   
          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">Previous assessment report</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">21 April 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">PIP</td>

            <td class="govuk-table__cell">Reviewed on 5 May 2021</strong></td>
   
          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">Hospital appointment letter</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">21 April 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">PIP</td>

            <td class="govuk-table__cell">Reviewed on 5 May 2021</strong></td>
   
          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">Friends and family letter</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">21 April 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">PIP</td>

            <td class="govuk-table__cell">Reviewed on 5 May 2021</strong></td>
   
          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">Covid advice guidelines</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">21 April 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">PIP</td>

            <td class="govuk-table__cell">Reviewed on 5 May 2021</strong></td>
   
          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">Accommodation licence</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">21 April 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">PIP</td>

            <td class="govuk-table__cell">Reviewed on 5 May 2021</strong></td>
   
          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">Covering letter</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">21 April 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">PIP</td>

            <td class="govuk-table__cell">Reviewed on 5 May 2021</strong></td>
   
          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">Covering letter</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">21 April 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">UC</td>

            <td class="govuk-table__cell">Reviewed on 19 Nov 2020</strong></td>
   
          </tr>

          <tr class="govuk-table__row">
      
            <td class="govuk-table__cell"><a href="#">NHS hospital letter</a></td>
      
            <td class="govuk-table__cell" data-sort-value="21/04/21">21 April 2021</td>

            <td class="govuk-table__cell"></td>

            <td class="govuk-table__cell">UC</td>

            <td class="govuk-table__cell">Reviewed on 19 Nov 2020</strong></td>
   
          </tr>
      
        </tbody>
      </table>

    </div>
  </div>  


{% endblock %}
